<launch>

    	<include file="/itri-label-toolchain/src/bag_converter/launch/perception-offline-test-label-data.launch">
	  <arg name="bags" value="/itri-label-toolchain/src/data/2022-08-17-16-10-32_13.bag" />
	</include>
	
	<node 
	  name="gige_30_f_hdr_image_saver" 
	  pkg="itri-label-toolchain" 
	  type="ros_image_saver.py" 
	  args="--topic /lucid_cameras_x00/gige_30_f_hdr/h265/rgb8 \
		--save_dir /itri-label-toolchain/src/data" />
	<node 
	  name="gige_60_f_hdr_image_saver" 
	  pkg="itri-label-toolchain" 
	  type="ros_image_saver.py" 
	  args="--topic /lucid_cameras_x00/gige_60_f_hdr/h265/rgb8 \
		--save_dir /itri-label-toolchain/src/data" />


</launch>
