<launch>
    <arg name="bags"/>
    <arg name="use_cuda_image" default="false"/>

    <rosparam param="/use_sim_time">
        true
    </rosparam>

    <arg name="node_start_delay" default="5.0" />

    <rosparam command="load" file="$(env SDC_CONFIG_DIR)/parameters.yaml"/>
    <include file="$(env SDC_CONFIG_DIR)/static_tf.launch"/>
    <include file="$(env SDC_CONFIG_DIR)/camera_lidar_static_tf.launch"/>
    <include file="$(env SDC_CONFIG_DIR)/radar_lidar_static_tf.launch"/>

	<node name="get_tf_static_from_rosbag" pkg="rosbag" type="play"
        args="
            --clock
            --topics
                /tf_static
            --bags $(arg bags)
            --duration 1
        "/>

    <node name="rosbag" pkg="rosbag" type="play" required="true"
        launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "
        args="
            --clock
            --topics
                /tf
                /lucid_cameras_x00/gige_30_f_hdr/h265
                /lucid_cameras_x00/gige_60_f_hdr/h265
		/center_track/lucid_cameras_x00/gige_30_f_hdr/rviz
		/center_track/lucid_cameras_x00/gige_30_f_hdr/vision_objects
		/center_track/lucid_cameras_x00/gige_60_f_hdr/rviz
		/center_track/lucid_cameras_x00/gige_60_f_hdr/vision_objects
		/detected_objects
		/clock
		/velodyne/top_vls128
		/trackers
		/top_detection_objects
		/top_lidar_points
            --bags $(arg bags)
            --start 0
            --rate 0.1
        "/>

    <include file="$(env SDC_CONFIG_DIR)/video_capturing/launch/cuda-image-transform.launch"
        if="$(arg use_cuda_image)">
        <arg name="remote" default="false"/>
    </include>

    <include file="$(env SDC_CONFIG_DIR)/video_capturing/launch/sensor-image-transform.launch"
        unless="$(arg use_cuda_image)">
        <arg name="remote" default="false"/>
    </include>

    <node
        pkg="rviz"
        type="rviz"
        name="label_rviz"
        output="screen" />

</launch>
